body{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hotpink;
}

ul{
  list-style-type: none;
}

#fancyDiv{
  margin: auto;
  width: 60%;
  border: 15px mediumturquoise;
  border-style: double solid;
  padding: 10px;
}

